<p> The Surfing user = <%= @visitingUser.username.capitalize  %> </p>
<p> The page owner = <%= @pageOwner.username.capitalize %> </p>
<p> Is this my page? = <%= @myPage %> </p>

<%= render "userpage/partials/listnotes" %>
<%= render "userpage/partials/form" %>
<%= link_to 'All Notes', noteboard.notes_path %>
