<% if !user_signed_in? %>
<li><%= link_to "Sign in", main_app.new_user_session_path %></li>
<li><%= link_to "Sign up", main_app.new_user_registration_path %></li>
<% else %>
<li><%= link_to "Home", main_app.home_path(session[:username]) %></li>
<li><%= link_to "Edit your account", main_app.edit_user_registration_path %></li>

<% if current_user.admin? %>
<li><%= link_to "Admin", main_app.admin_root_path %></li>
<% end %>

<li><%= link_to "Sign out", main_app.destroy_user_session_path, data:{method: :delete} %></li>
<% end %>
